:host {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px;
  height: 26px;
}

span {
  display: inline-block;
  padding: 5px 0;
}

.cell-coords {
  width: 140px;
}

.cell-overlay {
  width: 202px;
}
