<div class="project">S-Maker v{{ version }}</div>
<div class="text-center text-bold">Мой помощник для разработки игр на Pixi.js ;)</div>
<div class="text-center text-bold">Разработка: Селивёрстов Александр</div>
<div class="text-center text-bold">&copy; 2022-2026</div>
<p class="text-center">История изменений:</p>
<div class="flex-col flex-auto">
  @if (loadingState()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div class="scroll-container">
      <div class="scroll">
        <div class="changelog" [innerHtml]="infoHtml"></div>
      </div>
    </div>
  }
</div>
