@use "colors";

.context-menu {
  display: inline-flex;
  flex-direction: column;

  padding: 6px 0;

  background-color: rgb(255, 255, 255);
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  .context-menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;

    padding: 0 16px;

    cursor: pointer;

    outline: none;

    line-height: 36px;
    .mat-icon {
      &.arrow {
        display: flex;
        flex: auto;
        justify-content: flex-end;
      }
      &.icon {
        margin-right: 10px;
      }
    }
    &.disabled {
      cursor: default;

      color: #c6c6c6;
    }
  }
  .context-menu-item:not(.disabled):hover {
    background-color: colors.$color-hover;
  }
}
