:host {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 285px;
}

.w-coords {
  width: 136px;
  margin-left: 15px;
  &:first-child {
    margin-left: 0;
  }
}

.mt-20 {
  margin-top: 20px;
}
