<s-slide-panel-container
  class="flex-auto"
  cancelButtonTitle="Закрыть"
  panelTitle="Параметры сцены"
  (closeEvent)="handleClose()"
  (applyEvent)="handleApply()"
>
  <div class="container">
    <s-input label="Наименование сцены" [(ngModel)]="sceneName" />
    <smc-properties-container
      class="flex-auto mt-10"
      [visibleReplaceType]="false"
      [properties]="properties()"
      (propertiesChangeEvent)="handlePropertiesChangeEvent($event)"
    />
  </div>
</s-slide-panel-container>
