:host {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.buttons-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  .divider {
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 27px;
    margin: 0 5px;
    user-select: none;
  }
}

.pixi-container {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  z-index: 0;
  overflow: hidden;
  height: 240px;
}
