$white: #ffffff;
$black: #5b5b5b;
$blue: #0275d8;

$border-color: rgb(229, 229, 229);
$hover-color: #e6effc;
$button-success-color: #007d34;
$selected-color: #0275d8;
$error-color: #e32636;
$success-color: #00c851;
$warning-color: #ff7733;

$label-text-placeholder: #bdbdbd;

$gray-0: #333333;
$gray-200: #c6c6c6;
