@use "colors";

.empty-message {
  display: flex;
  align-items: center;
  flex: auto;
  flex-direction: column;
  justify-content: center;

  letter-spacing: 0.18px;

  color: colors.$color-label-placeholder;

  font-size: 24px;
  font-weight: 400;
}

.loading-container {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loading-container__message {
  margin-top: 10px;

  letter-spacing: 0.18px;

  color: colors.$color-primary;

  font-size: 24px;
  font-weight: 400;
}

.section-container {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 12px;
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
}

.section-head {
  display: flex;
  align-items: center;

  padding: 0 0 0 16px;

  border-bottom: 1px solid colors.$color-border;
}

.section-title {
  flex: auto;

  margin: 0;

  font-size: 22px;
  font-weight: 500;
}

.mat-button-with-icons {
  --mat-button-outlined-horizontal-padding: 12px;
  .mdc-button__label {
    display: flex;
    & > div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

.pixi-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
}

.items-edit-list-row {
  --mat-icon-button-state-layer-size: 24px;
  --mat-icon-button-icon-size: 18px;
  --mat-icon-button-touch-target-display: none;
  display: flex;
  align-items: center;

  padding: 5px 0;

  cursor: default;
  &:hover {
    background-color: colors.$color-hover;
  }
  &.selected {
    color: #ffffff;
    background-color: colors.$color-selected;
    .mat-icon {
      color: #ffffff;
    }
  }
  .items-edit-list-title {
    display: flex;
    align-items: center;
    flex: auto;

    padding: 0 10px;
  }
  .mat-icon {
    width: 18px;
    height: 18px;

    font-size: 20px;
  }
}

.w-number {
  --mat-icon-button-state-layer-size: 32px;
  --mat-icon-button-icon-size: 22px;
  --mat-icon-button-touch-target-display: none;
  width: 170px;
  .mat-icon {
    width: 22px;
    height: 22px;

    font-size: 20px;
  }
}

fieldset {
  display: flex;
  flex-direction: column;

  border: 1px solid colors.$color-fieldset-border;
  border-radius: 4px;
  legend {
    font-size: 18px;
    font-weight: bold;
  }
}

.small-mat-icon-buttons {
  --mat-icon-button-state-layer-size: 24px;
  --mat-icon-button-icon-size: 18px;
  --mat-icon-button-touch-target-display: none;
  .mat-icon {
    width: 18px;
    height: 18px;

    font-size: 18px;
  }
}
