@use "colors";

.text-danger {
  color: colors.$color-error;
}

.text-warning {
  color: colors.$color-warning;
}

.border-left {
  box-sizing: border-box;

  border-left: 1px solid colors.$color-border;
}

.border-right {
  box-sizing: border-box;

  border-right: 1px solid colors.$color-border;
}
.border-bottom {
  box-sizing: border-box;

  border-bottom: 1px solid colors.$color-border;
}

.border-top {
  box-sizing: border-box;

  border-top: 1px solid colors.$color-border;
}

.border-warning {
  box-sizing: border-box;

  border: 1px solid colors.$color-warning;
}

.user-select-none {
  user-select: none;
}
