@use "colors";

:host {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
}

.statusbar {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-top: 1px solid colors.$border-color;
  box-sizing: border-box;
  height: 48px;
  .fs-12 {
    font-size: 12px;
  }
}

.counter {
  width: 70px;
}
