@if (project$ | async; as project) {
  <smc-header [project]="project" [currentModule]="currentModule"> </smc-header>

  <div class="content">
    <div class="projects-container">
      <div class="projects-container__head">
        <button mat-stroked-button color="primary" (click)="onAddScene(project.id)">Новая сцена</button>
      </div>

      <div class="projects-container__content">
        @if (isLoading$ | async) {
          <div class="loading-container">
            <mat-spinner></mat-spinner>
          </div>
        } @else {
          @if (scenesList$ | async; as scenesList) {
            @if (scenesList.length > 0) {
              <div class="scroll-container">
                <div class="scroll">
                  @for (scene of scenesList; track scene.id) {
                    <div class="projects-container-list-item" (dblclick)="onGoToScene(project.id, scene.id)">
                      <div class="projects-container-list-item__title">{{ scene.name }}</div>
                      <button mat-button color="primary" (click)="onGoToScene(project.id, scene.id)">
                        Редактировать
                      </button>
                      <button
                        mat-button
                        color="primary"
                        [matMenuTriggerFor]="exportMenu"
                        [matMenuTriggerData]="{ id: scene.id }"
                      >
                        <div class="flex-row-align-center">
                          <span>Экспорт</span>
                          <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                      </button>
                      <button mat-button color="accent" (click)="onRemoveScene(project.id, scene.id)">Удалить</button>
                    </div>
                  }
                </div>
              </div>
            } @else {
              <div class="empty-message">Нет сцен</div>
            }
          }
        }
      </div>
    </div>
  </div>
} @else {
  <smc-page-not-found></smc-page-not-found>
}

<mat-menu #exportMenu>
  <ng-template matMenuContent let-id="id">
    <menu mat-menu-item (click)="onExportScene(id)">Экспортировать просто сцену</menu>
    <menu mat-menu-item (click)="onExportScenePack(id)">Экспортировать весь набор сцены</menu>
  </ng-template>
</mat-menu>
