@use "colors";

:host {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.item {
  display: flex;
  align-items: center;
  &:hover {
    background-color: colors.$hover-color;
  }
  &.selected {
    background-color: colors.$selected-color;
    color: colors.$white;
    .mat-mdc-icon-button {
      &.mat-primary {
        color: colors.$white;
      }
    }
  }
  .title {
    flex: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    user-select: none;
    span {
      display: inline-block;
    }
    .layer-type {
      font-size: 12px;
      font-weight: 500;
      margin-right: 5px;
    }
  }
}

.subdirectory-icon {
  font-size: 16px;
  height: 18px;
  width: 18px;
}
