@use "colors";

:host {
  display: flex;
  flex-direction: column;
}

.no-padding {
  padding: 0;
}

.frameset-head {
  display: flex;
  align-items: center;

  padding: 0 16px;

  border-bottom: 1px solid colors.$color-fieldset-border;
}
